*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

$secondary : #fff;
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        .logo{
            width: 20%;
        }
        .menu{
            width: 70%;
            ul{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                li{
                    a{
                        text-transform: uppercase;
                    }
                }
            }
        }
        .search-icon{
            width: 10%;
            text-align: right;
            a{
                margin-left: 5px;
                text-transform: uppercase;
            }
        }
    }
}
section{
    .hero-section{
        background: url("../images/iStock-1097184256.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 95px;
        .container{
            display: flex;
            flex-wrap: wrap;
            .cont1{
                width: 40%;
                .title{
                    font-size: 80px;
                    margin-top: 148px;
                    margin-bottom: 64px;
                    color: $secondary;
                }
                .subtitle{
                    font-size: 18px;
                    color: $secondary;
                }
            }
            .cont2{
                width: 48%;
                
            }
            .cont3{
                width: 40%;
                .title{
                    color: $secondary;
                }
                margin-top: 55px;
                li{
                    display: flex;
                    margin-top: 142px;
                    a{
                        color: $secondary;
                        padding: 15px 15px;
                        border: 2px solid $secondary;
                        border-radius: 4px;
                        margin-right: 30px;
                    }
                }
            }
            .cont4{
                width: 55%;
                margin-left: 63px;
                .specification{
                    display: flex;
                    justify-content: space-between;
                    .spec1{
                       
                        img{
                            width: 200px;
                        }
                    }
                    .spec2{
                       
                        img{
                            width: 200px;
                        }
                    }
                    .spec3{
                       
                        img{
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
}